.feature {
  h2 {
    font-family: $header-font;
    font-size: 17px;
    line-height: 25px;
    font-weight: bold;
    color: #666666;
  }

  p {
    color: #B3B3B3;
  }

  .icon {
    height: 23px;
  }
}
