.feature {
  h2 {
    font-family: $header-font;
    font-size: 17px;
    line-height: 25px;
    font-weight: bold;
    color: $gray-darker;
    text-align: center;
  }

  p {
    color: $gray-dark;
    text-align: center;
  }

  .icon {
    height: 23px;
  }
}
