---
title: Team
---

<div class="container text-center">
  <h1>Team members</h1>
    <div class="row padded">
      <div class="col-xs-4 col-md-4 col-bd-4">
        <img src="http://unsplash.it/155x155" alt="" class="img-circle img-responsive center-block">
        <h1>Max la Menace</h1>
        <h2>CTO</h2>
        <p>The man behind the technical aspects of the projetc. Ready to kick ass!</p>
      </div>
      <div class="col-xs-4 col-md-4 col-bd-4">
        <img src="http://unsplash.it/155x155" alt="" class="img-circle img-responsive center-block">
        <h1>Denis la Malice</h1>
        <h2>CEO</h2>
        <p>This is the guy who makes it happen. Cheerings all over the place!</p>
      </div>
      <div class="col-xs-4 col-md-4 col-bd-4">
        <img src="http://unsplash.it/155x155" alt="" class="img-circle img-responsive center-block">
        <h1>Victor le Type</h1>
        <h2>CFO</h2>
        <p>All your monies are in the right place with this man. No doubt he's able to beam you home.</p>
      </div>
    </div>
</div>
