---
title: Team
---

<div class="text-center">
  <h1>Team members</h1>
    <ul class="list-inline">
      <li>
        <img src="http://placehold.it/100x100" alt="" class="img-circle">
      </li>
      <li>
        <img src="http://placehold.it/100x100" alt="" class="img-circle">
      </li>
      <li>
        <img src="http://placehold.it/100x100" alt="" class="img-circle">
      </li>
    </ul>
</div>
